.menu {
  width: 224px;
}

.heading {
  margin-left: 36px;
  margin-bottom: 10px;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
}

.miniNav {
  display: none;
}


.icon {
  width: 30px !important;
  height: 30px !important;
}

@media (max-width: 900px) {
  .main {
    display: none;
  }

  .miniNav {
    display: block;
    margin-top: 5px;
    margin-right: 20px;
  }
}

@media (min-width: 900px) {
  .menu {
    width: 224px;
  }
}
