.main {
  width: 100%;
  height: 80px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 8px 0 0 30px;
}

.logo img {
  height: 60px;
}

.right {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
