.main, .left {
  display: flex;
}

.main {
  background-color: #EEE;
  justify-content: space-between;
  align-items: center;
  color: #4a4a4a;
}

.left, .right {
  margin: 5px 0;
}

.left {
  margin-right: 10px;
}

.left > * {
  padding: 5px 20px;
  font-family: 'Helvetica Neue', sans-serif;
  border: 2px solid #EEE;
  border-radius: 18px;
}

.left > *:hover {
  cursor: pointer;
}

.selected, .left > *:hover {
  background-color: #fcfcfc;
}

.selected {
  border: 2px solid #a4a4a4;
}

@media (max-width: 670px) {
  .main {
    flex-direction: column;
  }
}
