.body {
  display: flex;
  padding-top: 80px;
}

.content {
  width: 100%;
  padding: 20px 0;
  margin-left: 224px;
  overflow: auto;
}

.header {
  font-size: 25px;
}

.button button:hover {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .content {
    margin-left: 0;
  }
}

@media (max-width: 670px) {
  .header {
    text-align: center;
  }
}
